:root {
    --primary-color: #10b981;
    --background-color: #111827;
    --card-color: #1f2937;
    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
    --border-color: #374151;
    --accent-purple: #8b5cf6;
    --accent-yellow: #f59e0b;
    --accent-red: #ef4444;
    --accent-blue: #3b82f6;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 24, 39, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 8px solid var(--border-color);
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body.body-no-scroll {
    overflow: hidden;
}

.fullscreen-map {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

.map-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5001;
}

.map-control-btn {
    background-color: rgba(31, 41, 55, 0.75);
    color: white;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-control-btn:hover {
    background-color: rgba(55, 65, 81, 0.9);
}

.achievement-locked {
    filter: grayscale(100%);
    opacity: 0.6;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-icon {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text-secondary);
}

.tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: var(--card-color);
    color: var(--text-primary);
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid var(--border-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
